* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1vw;
}
header {
  background: white;
  padding: 20px
}
h1 {
  color: #696969;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 200%;
  margin-bottom: 4vh;
  position: absolute;
  top: 12vh;
  left: 1vw;
  
}
body {
  background-color: #E8E8E8;
  color: #696969;
  font-family: Roboto, sans-serif;
}

.bartop{
  background-color: #8cc73e;
  width: 100vw;
  height: 5.3vw;
  padding-left: 0vw;
  padding-right:0vw;
  margin:0;
}

#recycling-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 60vh;
  margin-top: 2vh;
  width: 50%;
}


#status{
  color:black;
}
#map-link{
  color: black;
}
.buttonchoice {
  display: block;
  margin-left: 20vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 5vw;
  height: 5vw;
  
  transition: all 0.5s ease;
  position: relative;
}
.buttonchoice:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px #696969;
}

.buttonpane{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left:-19vw;
  top:20vh;
  margin-bottom:5vh;
  
}
.findbin{
  border: 4px solid white;
  display: inline-block;
  margin-left: 45vw;
  width: 10vw;
  height: 10vw;
  transition: all 0.5s ease;
  position: relative;
}
.findbin:hover{
    cursor: pointer;
    border: 5px solid gold;
  }
#status{
  margin-left: 40vw;
  width: 20vw;
  margin-top: 15px;
}
#map-link{
  margin-top: 15px;
  margin-left: 40vw;
  width: 20vw;
}
#map {
  height: 70vh;
  width: 90vw;
  margin-left : 7vw;
  margin-right : 5vw;
  margin-top: 0.2vw;
  padding: 0;
}


#location-maps{
  display: none;
  color: black;
}

#floating-panel {  
  margin-left: 7vw;
  margin-right: 1vw;
  margin-top: 8vh;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  width: 20vw;  
}

#toggle-heatmap{
  border-radius: 1px;
  color: #696969;  
}

#toggle-edit{
  color: #696969;  
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
  margin: 0 ;
  background-color: #92a8d1
  padding: 0;
}
li {
  float: left;
}
.topbar:hover{
  background-color: #5a9600;
}
.topbar {
  display: block;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: #8cc73e;
}
.stat-summary{
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 7vh;
}
#qr-codes{
  padding: 5vw;
  display: none;  

  
}
#about-text{
  
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 7vh;
  display: none;
}
#contact-text{
  margin-left: 30vw;
  padding: 5vw;
  display: none;
}
#home{
  margin-left: 3vw;
}
#about{
  margin-left: 1vw;
}
.qrlink{
  color: #5a9600;
  padding-top: 2vh;
}
#timegraph{
  width: 80vw;
  height: 30vw;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 5vw;
  display: none;
}
#certificate-img{
  border: 4px solid white;
  display: inline-block;
  margin-left: 5vw;
  border-radius: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 80vw;
  height: 50vw;
  transition: all 0.5s ease;
  position: relative;
  display: none;
}
#certificate-form{
  display: none;
  margin: 10vw;
}
#certificate-img:hover{
  border: 4px solid gold;
}
.statval{
  color: #5a9600;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;  
  
}

#name{
	margin-bottom: 20px;
	
}

#email{
	margin-bottom: 20px;
	
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top:20px;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:auto;
  margin-left : -34vw;
  margin-right : 5vw;
  margin-top: -3vh;
}

.logo{
  position: absolute;
  right:0;
  bottom: 0;
}
